.section.Header {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Space out elements */
  align-items: center; /* Vertically align items */
  z-index: 10;
  background-color: #003135;
  position: sticky;
  top: 0;
  padding: 0 1rem; /* Add padding for spacing */
  height: fit-content; 
  color: white;
  min-height: 8vh;

}



.Navbar {
  display: flex;
  justify-content: flex-end; /* Align components to the right */
  align-items: center;
  font-weight: bold;
  font-size: large;
  gap: 40px; /* Maintain spacing between components */
  flex-grow: 1; /* Allow the Navbar to grow and take available space */
}



.Navbar > .Nav-component {
  margin: 5px;
  text-align: center;
  cursor: pointer; 
}

.Nav-component:hover {
  transform: scale(1.2);
  color: #ff6347;
  transition: transform 0.3s ease, color 0.3s ease;
}

.Name {
  flex-shrink: 0; /* Prevent shrinking of the name */
  font-weight: bold;
  font-family: Arizonia, Montserrat, Arial, Helvetica, sans-serif;
  font-size: xx-large;
}







@media (max-width: 768px) {
  .section.Header {
    flex-direction: column; /* Stack items vertically */
    padding: 0.5rem; /* Reduce padding */
    min-height: 5vh;
  }

  .Navbar {
    flex-direction: column; /* Stack navbar components */
    align-items: center; /* Center navbar items */
    gap: 20px; /* Reduce gap between components */
  }

  .Name {
    font-size: 1.5rem; /* Adjust font size for readability */
    margin-bottom: 20px;

  }
}




/*
//Not Used yet

.theme-toggle{
  justify-self: center;
  align-self: center;
}

.light-mode-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #ff6347;
  transition: transform 0.3s ease, color 0.3s ease; 
}

.dark-mode-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #ff6347;
  transition: transform 0.3s ease, color 0.3s ease; 
}

.light-mode {
  background-color: #003135;
  color: white;
}

.dark-mode {
  background-color: #222;
  color: #f9f9f9;
}

.light-mode-icon{
  background-color: #003135;
  color: white;
  border: none;
}
.dark-mode-icon{
  background-color: #003135;
  color: white;
  border: none;
}

*/